
 
  /* inställningar för min bild på hemsidan*/
  img {
      width: 200px;
      height:200px;

  }
    
/* header styr plats på bild och text i headern också*/
  .header {
    float:center;
      padding: 10px;
      width: 33,33%;
      height: 300px;
      background-color:green;
    background-color:#4F008C;

    
    
  }
  
  /* inställningar för den svarta listen som går genom hemsidan */
  .list {
    overflow: hidden;
    background-color:#E0C600;
    color:black;
    }
    /*struktur för alla columner*/
  .info{
    
    display: flex;
    flex-direction: column;
    clear:both;
      
  }
     /* inställningar för alla överskrifter till de olika kolumnerna*/ 
h2{
text-align: center;
font-family: sans-serif, Arial,Courier;
      }
  
  
  /* inställningar för column i Html */
  .column {
    float:left;
      padding: 10px;
      width: 33,33%;
      height: 300px;
      background-color:green;
      font-family: sans-serif, Arial,Courier;

      
      

  }
/* För att få bort punterna vid var ny kolumn*/
  ul{
    list-style-type: none;

  }
  /* Funktioner för länkarana på hemsidan*/
  a:link {
    text-decoration: none;

  }
  

/* inställningar för att ända footern längst ner på sidan*/
 footer{
    overflow: hidden;
    background-color:black;
    color:white;
   
    
 }
 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

}